
<ul class="list-group">
    <li class="list-group-item">
    <a class="btn btn-primary" target=_blank href="{{ env.link_url }}">Ссылка для тестирования </a>

    <a class="clear-log btn btn-success" data-toggle="modal" data-target="#gitpullModal"
    data-id="{{ env.id }}" href="#">Перезапустить сервер</a>
    <a class="get-log btn btn-danger" data-toggle="modal" data-target="#gitpullModal"
    data-id="{{ env.id }}" href="#">Посмотреть лог ошибок</a>  


    </li>

   
    <li class="list-group-item">
        <a class="btn btn-primary" target=_blank href="/maket/{{ env.project.id }}">Макеты страниц</a>
        </li>
    <li class="list-group-item">
    <a target=_blank href="/instr">Инструкция по работе в Vscode </a>
    </li>

    <li class="list-group-item">
        <a target=_blank href="{{ env.project.git_url }}">git репозиторий</a>
        </li>
    
    <li class="list-group-item">
        Доступы по ssh или sftp
    </li>
    <li class="list-group-item">
        Логин: <strong>{{ ssh_login }}</strong>
    </li>
    <li class="list-group-item">
        Пароль: <strong>{{ ssh_password }}</strong>
    </li>
    <li class="list-group-item">
        Домен: <strong>{{ domain }}</strong>
    </li>
    <li class="list-group-item">
        Порт: <strong>{{ ssh_port }}</strong>
    </li>
    
    <li class="list-group-item">
        Рабочий каталог: <strong>{{ env.get_work_dir }}</strong>
    </li>

    <li class="list-group-item">
     {% if env.project.release_url %}
    
        <a 
        class="git-push btn btn-success"
        target=_blank href="{{ env.project.release_url }}">Ссылка на релиз</a>
    
    {% endif %}
    </li>
    
    <li class="list-group-item">
        
            <a 
            data-toggle="modal" data-target="#gitpullModal"
            data-id="{{ env.id }}" class="git-pull btn btn-primary" href="#">Обновить проект</a>
            <a 
            data-toggle="modal" data-target="#gitpullModal"
            data-id="{{ env.id }}" class="git-status btn btn-info" href="#">Текущий статус</a>

            <a 
            data-toggle="modal" data-target="#gitpullModal"
            data-id="{{ env.id }}" class="git-commit btn btn-warning" href="#">Зафиксировать изменения</a>

            <a class="git-commit btn btn-warning" href="/env/build_front/{{env.id}}">Собрать фронтенд</a>
            

    </li>
    <li class="list-group-item">
        <a class="btn btn-lg btn-outline-danger btn-block" href="/env/pre_remove/{{ env.id }}">Удалить область</a>     
        {% if user.is_superuser %}
        <a class="git-pull btn btn-primary" href="/env/task/create/{{ env.id }}">
           Создать задачу
        </a>
        {% endif %}                       
    </li>
    <li class="list-group-item">
        После удаления вы всегда можете создать ее заново <a href="/project/list">тут</a>.                           
    </li>
</ul>