<table class="table">
    <thead>
        <tr>
        <th scope="col">#</th>
        <th scope="col">Описание</th>
        <th scope="col">Изображения</th>
        <th scope="col">Действия</th>
        </tr>
    </thead>

        {% for task in mytasks %}
            <tr>
            <th scope="row">{{ task.id }}</th>
            <td>
                    <p slyle="font-weight: strong"><strong>{{ task.title }}</strong></p>
                    {{ task.desc }}
                    <p>
                    Статус: {{ task.get_status }}
                    </p>
                    <p>
                        Сложность: {{ task.hard }}
                    </p>
            </td>
            <td>
                {% for im in task.file_set.all %}
                    <p>
                    {% if im.title %}
                        <p>{{ im.title }}</p>
                    {% endif %}
                    <a target=_blank href="{{im.image.url}}">
                        <img title="{{ im.title }}" src="{{im.small_image_url}}" />
                    </a>
                    </p>
                {% endfor %}
            </td>
            <td>
                <a class="btn btn-lg btn-outline-primary btn-block" href="/task/done/{{ task.id }}">Выполнено</a>
                <a class="btn btn-lg btn-outline-warning btn-block" href="/task/del/{{ task.id }}">Отказаться</a>
                
            </td>
            </tr>
        {% endfor %}

    </table>