<table class="table">
    <thead>
        <tr>
        <th scope="col">#</th>
        <th scope="col">Описание</th>
        <th scope="col">Изображения</th>
        <th scope="col">Действия</th>
        </tr>
    </thead>

        {% for task in tasks %}
            <tr>
            <th scope="row">{{ task.id }}

             
            </th>
            <td>
                    <p slyle="font-weight: strong"><strong>{{ task.title }}</strong></p>
                    {{ task.desc }}
                    <p>
                        Статус: {{ task.get_status }}
                    </p>
                    <p>
                        Сложность: {{ task.hard }}
                    </p>

            </td>
            <td>
                {% for im in task.file_set.all %}
                    <p>
                    <p>{{ im.title }}</p>
                    <a target=_blank href="{{im.image.url}}">
                        <img title="{{ im.title }}" src="{{im.small_image_url}}" />
                    </a>
                    </p>
                {% endfor %}
            </td>
            <td>
                <a class="btn btn-md btn-outline-primary btn-block" href="/task/take/{{ task.id }}">Взять в работу</a>
                
            </td>
            </tr>
        {% endfor %}

    </table>