 
 {% extends 'base.html' %}
 {% load crispy_forms_tags %}
 {% block content %}
     <div class="container">
         <!-- 
        <div class="alert alert-warning" role="alert">
            ВАЖНО! Перед началом работы обновите репозиторий кнопкой git pull т.к. каждый день он будет устаревать.
        </div>
        -->
        {% if error %}
            <div class="alert alert-warning" role="alert">
                {{ error }}
            </div>
        {% endif %}

        {% if message %}
            <div class="alert alert-success" role="alert">
                {{ message }}
            </div>
        {% endif %}

        {% if env %}
            <div class="row">
                <div class="col-8">
                    <h4 class=""> {{ env.project.title }} </h4>
                </div>
                <div class="col-4">
                    <div class="dropdown">
                        <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            {{ env.project.title }}
                        </button>
                        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                        {% for e in envs %}
                            <a class="dropdown-item" href="/env/detail/{{e.id}}">{{ e.project.title }}</a>
                        {% endfor %}
                         
                        </div>
                      </div>
                </div>
            </div>
            <div class="row">
                    

                    <div class="col-12">
                        
                        <ul class="nav nav-tabs">
                            <li class="nav-item">
                                <a data-toggle="tab" href="#setting" class="nav-link active" >Настройки</a>
                            </li>
                        <li class="nav-item">
                            <a data-toggle="tab" href="#task" class="nav-link" >Задачи на выполнение</a>
                        </li>
                        <li class="nav-item">
                            <a data-toggle="tab" href="#mytask" class="nav-link" >Взятые задачи</a>
                        </li>
                        <li class="nav-item">
                            <a data-toggle="tab" href="#commit" class="nav-link" href="#">Комиты</a>
                        </li>
                        </ul>


                        <div class="tab-content">

                            <!---  настройки  ------>
                            <div class="tab-pane fade show active" id="setting" role="tabpanel" >
                                {% include 'env/parts/info.html' %}
                            </div>

                            <!---  на выполнение  ------>
                            <div class="tab-pane fade show" id="task" role="tabpanel">
                               {% include 'env/parts/task.html' %}
                            </div>


                            <!---  в работе  ------>
                            <div class="tab-pane fade show" id="mytask" role="tabpanel" aria-labelledby="home-tab">
                                {% include 'env/parts/mytask.html' %}
                            </div>


                            <div class="tab-pane fade show" id="commit" role="tabpanel" aria-labelledby="home-tab">
                                {% include 'env/parts/commits.html' %}
                            </div>
                    </div>
                
            </div>
        {% endif %}

        
    </div>
   



<div class="modal" id="gitpullModal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="git-oper"></h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
            <p>Результат</p>
            <p id="git-pull-result"></p>
            <p>Ошибки</p>
            <p id="git-pull-error"></p>
        </div>
        <div class="modal-footer">
          
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Закрыть</button>
        </div>
      </div>
    </div>
  </div>
 
    {% endblock %}

    {% block js %} 
    <script src="/static/js/control.js"></script>
    {% endblock %}