 
 {% extends 'base.html' %}
 {% load crispy_forms_tags %}
 {% block content %}
     <div class="container">
        <div class="alert alert-warning" role="alert">
            ВАЖНО! Перед началом работы обновите репозиторий кнопкой git pull т.к. каждый день он будет устаревать.
        </div>
        {% if error %}
            <div class="alert alert-warning" role="alert">
                {{ error }}
            </div>
        {% endif %}

        {% if message %}
            <div class="alert alert-success" role="alert">
                {{ message }}
            </div>
        {% endif %}

        {% if env %}
            <div class="row">
                    <div class="col-4">
                    <h4 class=""> {{ env.project.title }} </h4>
                    <ul class="list-group">
                        <li class="list-group-item">
                        <a target=_blank href="{{ env.link_url }}">Ссылка для тестирования </a>
                        </li>
                        <li class="list-group-item">
                        <a target=_blank href="/instr">Инструкция по работе в Vscode </a>
                        </li>
                        
                        <li class="list-group-item">
                            Доступы по ssh или sftp
                        </li>
                        <li class="list-group-item">
                            Логин: student
                        </li>
                        <li class="list-group-item">
                            Пароль: 12333321
                        </li>
                        <li class="list-group-item">
                            Домен: wezom.webmonstr.com
                        </li>
                        <li class="list-group-item">
                            Порт: 3306
                        </li>
                        <li class="list-group-item">
                            Бранч: {{ env.email }}
                        </li>
                        
                        <li class="list-group-item">
                            <div class="btn-group" role="group" >
                                <a 
                                data-toggle="modal" data-target="#gitpullModal"
                                data-id="{{ env.id }}" class="git-pull btn btn-primary" href="#">git pull</a>
                                <a 
                                data-toggle="modal" data-target="#gitpullModal"
                                data-id="{{ env.id }}" class="git-status btn btn-info" href="#">git status</a>

                                <a 
                                data-toggle="modal" data-target="#gitpullModal"
                                data-id="{{ env.id }}" class="git-commit btn btn-warning" href="#">git commit</a>

                                
                            </div>
                        </li>
                        <li class="list-group-item">
                            <a class="btn btn-lg btn-outline-danger btn-block" href="/env/pre_remove/{{ env.id }}">Удалить область</a>                            
                        </li>
                        <li class="list-group-item">
                            После удаления вы всегда можете создать ее заново <a href="/project/list">тут</a>.                           
                        </li>
                    </ul>
                    </div>

                    <div class="col-8">
                        <h4>Задачи</h4>


                        <ul class="nav nav-tabs">
                        <li class="nav-item">
                            <a 
                            aria-controls="task" aria-selected="true"
                            id="task-tab" data-toggle="tab" href="#task" class="nav-link active" >Задачи на выполнение</a>
                        </li>
                        <li class="nav-item">
                            <a 
                            aria-controls="mytask" aria-selected="true"
                            id="mytask-tab" data-toggle="tab" href="#mytask" class="nav-link" >Взятые задачи</a>
                        </li>
                        <li class="nav-item">
                            <a 
                            aria-controls="commit" aria-selected="false"
                            id="commit-tab" data-toggle="tab" href="#commit" class="nav-link" href="#">Комиты</a>
                        </li>
                        </ul>


                        <div class="tab-content">

                            <!---  на выполнение  ------>
                            <div class="tab-pane fade show active" id="task" role="tabpanel" aria-labelledby="home-tab">
                                <table class="table">
                                <thead>
                                    <tr>
                                    <th scope="col">#</th>
                                    <th scope="col">Описание</th>
                                    <th scope="col">Изображения</th>
                                    <th scope="col">Действия</th>
                                    </tr>
                                </thead>

                                    {% for task in tasks %}
                                        <tr>
                                        <th scope="row">{{ task.id }}

                                         
                                        </th>
                                        <td>
                                                <p slyle="font-weight: strong"><strong>{{ task.title }}</strong></p>
                                                {{ task.desc }}
                                                <p>
                                                Статус: {{ task.get_status }}
                                                </p>
                                        </td>
                                        <td>
                                            {% for im in task.file_set.all %}
                                                <p>
                                                <p>{{ im.title }}</p>
                                                <a target=_blank href="{{im.image.url}}">
                                                    <img title="{{ im.title }}" src="{{im.small_image_url}}" />
                                                </a>
                                                </p>
                                            {% endfor %}
                                        </td>
                                        <td>
                                            <a class="btn btn-md btn-outline-primary btn-block" href="/task/take/{{ task.id }}">Взять в работу</a>
                                            
                                        </td>
                                        </tr>
                                    {% endfor %}

                                </table>
                            </div>


                            <!---  в работе  ------>


                            <div class="tab-pane fade show" id="mytask" role="tabpanel" aria-labelledby="home-tab">
                                <table class="table">
                                <thead>
                                    <tr>
                                    <th scope="col">#</th>
                                    <th scope="col">Описание</th>
                                    <th scope="col">Изображения</th>
                                    <th scope="col">Действия</th>
                                    </tr>
                                </thead>

                                    {% for task in mytasks %}
                                        <tr>
                                        <th scope="row">{{ task.id }}</th>
                                        <td>
                                                <p slyle="font-weight: strong"><strong>{{ task.title }}</strong></p>
                                                {{ task.desc }}
                                                <p>
                                                Статус: {{ task.get_status }}
                                                </p>
                                        </td>
                                        <td>
                                            {% for im in task.file_set.all %}
                                                <p>
                                                <p>{{ im.title }}</p>
                                                <a target=_blank href="{{im.image.url}}">
                                                    <img title="{{ im.title }}" src="{{im.small_image_url}}" />
                                                </a>
                                                </p>
                                            {% endfor %}
                                        </td>
                                        <td>
                                            <a class="btn btn-lg btn-outline-primary btn-block" href="/task/done/{{ task.id }}">Выполнено</a>
                                            <a class="btn btn-lg btn-outline-warning btn-block" href="/task/del/{{ task.id }}">Отказаться</a>
                                            
                                        </td>
                                        </tr>
                                    {% endfor %}

                                </table>
                            </div>


                            <div class="tab-pane fade show" id="commit" role="tabpanel" aria-labelledby="home-tab">
                                <table class="table">
                                <thead>
                                    <tr>
                                    <th scope="col">#</th>
                                    <th scope="col">Описание</th>
                                    <th scope="col">Дата</th>
                                    </tr>
                                    {% for commit in commits %}
                                        <tr>
                                            <td>
                                                {{ commit.id }}
                                            </td>
                                            <td>
                                                {{ commit.title }}
                                            </td>
                                            <td>
                                                {{ commit.created_at }}
                                            </td>
                                        </tr>
                                    {% endfor %}
                                </thead>
                                </table>
                            </div>
                    </div>
                
            </div>
        {% endif %}

        
    </div>
   



<div class="modal" id="gitpullModal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="git-oper"></h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
            <p>Результат</p>
            <p id="git-pull-result"></p>
            <p>Ошибки</p>
            <p id="git-pull-error"></p>
        </div>
        <div class="modal-footer">
          
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Закрыть</button>
        </div>
      </div>
    </div>
  </div>
 
    {% endblock %}

    {% block js %} 
    <script src="/static/js/control.js"></script>
    {% endblock %}