 
 {% extends 'base.html' %}
 {% load i18n %} 
 {% block content %}
 <div class="container">
        <h2>{% translate "My working spaces" %}</h2>
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">{% translate "Description" %}</th>
                    <th scope="col">{% translate "Status" %}</th>
                    <th scope="col">{% translate "Actions" %}</th>
                </tr>
            </thead>
            {% for e in envs %}
                <tr 
                {% if e.status == 'creating' %}
                class="bg-red"
                {% else %}
                class="bg-green"
                {% endif %}
                >
                    <td scope="col">#</td>
                    <td scope="col">
                        <a href="/env/detail/{{ e.id }}">
                            {{ e.project.small_image_tag }}
                        </a>
                        <a href="/env/detail/{{ e.id }}">
                            <strong>{{ e.project.title }}</strong>
                        </a>
                    </td>
                    <td scope="col">{{ e.status }}</td>
                    <td scope="col">
                        <a 
                        class="git-pull btn btn-primary" href="/env/detail/{{ e.id }}">{% translate "Enter" %}</a>
                        <a 
                        class="git-pull btn btn-danger" href="/env/pre_remove/{{ e.id }}">{% translate "Delete" %}</a>

                    </td>
                </tr>
            {% endfor %}  
        </table>
        {% if not envs %}
        <div class="alert alert-danger" role="alert">
            {% translate "There are no working spaces." %}
        </div>            
        {% endif %}
        
      
 </div>
 
    {% endblock %}