 
 {% extends 'base.html' %}
 {% block content %}
 <div class="container">
        <h2>Мои рабочие области</h2>
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Описание</th>
                    <th scope="col">Статус</th>
                    <th scope="col">Действия</th>
                </tr>
            </thead>
            {% for e in envs %}
                <tr>
                    <td scope="col">#</td>
                    <td scope="col">
                        {{ e.project.small_image_tag }}
                        <strong>{{ e.project.title }}</strong>
                    </td>
                    <td scope="col">{{ e.status }}</td>
                    <td scope="col">
                        <a 
                        class="git-pull btn btn-primary" href="/env/detail/{{ e.id }}">Войти</a>
                        <a 
                        class="git-pull btn btn-danger" href="/env/pre_remove/{{ e.id }}">Удалить</a>

                    </td>
                </tr>
            {% endfor %}  
        </table>
        
      
 </div>
 
    {% endblock %}