.red {
    color: red;

}

h1 {
    font-size: 28px !important;
}

h3 {
    font-size: 25px !important;
}

.text-red {
    color: red;
}

.bold {
   font-weight: bold;
}


.big-text {
    font-size: 22px;
}

.middle-text {
    font-size: 16px;
}

.bg-red {
    background-color: rgb(230, 187, 187);
}

.bg-green {
    background-color: rgb(215, 241, 165);
}

.table td, .table th {
    border-top: 0px !important;
}

.text-middle {
    font-size: 18px;
}

a.gal-img {
    padding: 5px;
}

.lang {
    margin-left: 5px;
}