 
 {% extends 'base.html' %}
 {% block content %}
 <div class="container">
        <h2>Наши проекты</h2>

        <table class="table">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col"></th>
                    <th scope="col">Описание</th>
                    <th scope="col">Действия</th>
                </tr>
            </thead>
            {% for p in projects %}
                <tr >
                    <td scope="col">{{ p.id }}</td>
                    <td scope="col">
                        {{ p.small_image_tag }}
                        
                    </td>
                    <td scope="col">
                        <p><strong>{{ p.title }}</strong></p>
                        {{ p.desc|safe }}
                    </td>
                    <td scope="col">
                    {% if p.id in eid %}
                        <a 
                    class="git-pull btn btn-danger" href="/project/pre_remove/{{ p.id }}">Удалить рабочую область</a>
                    {% else %}
                        <a 
                    class="git-pull btn btn-primary" href="/env/pre_create/{{ p.id }}">Создать рабочую область</a>
                    {% endif %}

                    </td>
                </tr>
            {% endfor %}  
        </table>


       
       
 

 </div>
 
    {% endblock %}