{% extends 'base.html' %}
{% load i18n %}
{% block content %}
 <div class="container">
    
    <div class="row">
        <div class="col-6">
            <h1> {{ page.title }}  </h1>
            <p class="text-middle">
                {{ page.content }}
            </p>
        
    
            
            <p class="container">
                    <a class="btn btn-lg btn-outline-primary btn-block" href="{% url 'social:begin' 'google-oauth2' %}">{% translate "Sign In" %}</a>
            </p>
        </div>
        <div class="col-6">
            <div class="text-middle">
                <h3>{% translate "Projects" %}</h3>
                {% for p in projects %}
                    <div class="row" style="border: 1px solid silver; border-radius: 10px; margin-bottom: 10px; padding: 5px">
                        <div class="col-2">
                            {{ p.small_image_tag }}
                        </div>
                        <div class="col-10">
                            <p><strong>{{ p.title }}</strong></p>
                            {{ p.desc }}
                        </div>
                    </div>
                {% endfor %}
               
            </div>
        </div>
    </div>
    

    <div >

    

    </div>
 </div>
 
    {% endblock %}