{% extends 'base.html' %}
{% load i18n %} 
{% block content %}
 <h4>{% translate "Current tasks" %}</h4>


 <table class="table">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">{% translate "Project" %}</th>
      <th scope="col">{% translate "Description" %}</th>
      <th scope="col">{% translate "Image" %}</th>
      <th scope="col">{% translate "Actions" %}</th>
    </tr>
  </thead>
  <tbody>
  {% for task in tasks %}
    <tr>
      <th scope="row">{{ task.id }}</th>
      <th scope="row">{{ task.project.small_image_tag }}</th>
      <td>
            <p slyle="font-weight: strong"><strong>{{ task.title }}</strong></p>
            <p>{{ task.desc }}</p>
            <p>
              {% translate "Budget" %}: <strong>{{ task.budget }} $.</strong>
            </p>
      </td>
      <td>
        {% for im in task.file_set.all %}
            <p>
              {% if im.title %}
                <p>{{ im.title }}</p>
              {% endif %}
            <a target=_blank href="{{im.image.url}}">
                <img title="{{ im.title }}" src="{{im.small_image_url}}" />
            </a>
            </p>
        {% endfor %}
      </td>
      <td>
        {% if user.is_authenticated %}
        <a class="btn btn-lg btn-outline-primary btn-block" href="/task/take/{{ task.id }}">{% translate "Take it" %}</a>
        {% else %}
          <p class="text-red">{% translate "you are not registered" %}</p>
        {% endif %}
      </td>
    </tr>
   {% endfor %}
  </tbody>
</table>
 {% endblock %}