USER=zdimon
WORK_DIR=/home/zdimon/ssd/web/django-ci/work
ORIGIN_DIR=/home/zdimon/ssd/web/django-ci/origin
DOMAIN=pi.wezom.webmonstr.com
DATABASE='sqlite'
DB_USER='postgres'
DB_PASSWORD='1q2w3e'
DB_HOST='localhost'
DB_NAME='ci'
SOCIAL_AUTH_GOOGLE_OAUTH2_KEY='...'
SOCIAL_AUTH_GOOGLE_OAUTH2_SECRET='...'
SOCIAL_AUTH_REDIRECT_IS_HTTPS=True
SSH_LOGIN=dever
SSH_PASSWORD=12333321
SSH_PORT=3307